.banner {
  background-color: #e6e6e6;
  padding: 40px 0;

  h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  p {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.3rem;
  }
}
