.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  ul {
    list-style: none;
    display: flex;
    li:not(:last-child) {
      margin-right: 13px;
    }

    a {
      display: flex;
      align-items: center;
      color: #000000;
      &:hover {
        text-decoration: none;
        color: #10c9c3;
      }
    }
  }
}

.iconAnchor {
  margin-right: 5px;
  font-size: 0.8rem;
}

.userImage {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}
